@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Jaldi:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.section {
  height: 100vh;
  width: 100vw;
  display: block;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(./my\ components/Images/GALLERYSCREEN.png);
  background-size: 100% 100%;
}

.LINK{
  all: unset;
}
/* <------------------------------ HEADER ------------------------------> */

.NavBar{
  position: fixed;
  z-index:9;
  top:0;
  width: 100vw;
  height: 10vh;
  background-color: #FEFCF3;
  border-bottom: .2rem solid #DBA39A;
}
.NavContainer{
  display: flex;
  height: 10vh;
  justify-content: flex-end;
  align-items:flex-end ;
}
.NavLogo{
  position: absolute;
  display: flex;
  align-items: center;
  height: 10rem;
  z-index:100;
  margin: 0 10rem;
  padding: .5rem;
}
.LogoCover{
  position: absolute;
  display: flex;
  align-items: center;
  width: 13rem;
  height: .3rem;
  z-index: 10;
  margin: 5.65rem 10rem;
  background-color:#FEFCF3;
}
.NavBarItem{
  all: unset;
  text-decoration: none;
  font-family: "Crimson Text", serif;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  margin: 0 4rem;
  cursor: pointer;
}
.NavBarItem.active{
  -webkit-text-stroke: 0.02rem black;
  color: #DBA39A;
}
.mobile-icon {
  font-size: 5rem;
  color: #DBA39A;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 1rem;
  z-index: 9999;
  bottom: 1rem;
}


/* <-------------------------------- HOME --------------------------------> */


.Home{
  background-size: 100% 100%;
}
.MainHomeContainer{
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomeServiceContainer{
  position: relative;
  display: inline-block;
  align-content: center;
  aspect-ratio: 0.64;
  height: 35rem;
  overflow: hidden;
  outline: .2rem solid black;
  outline-offset: .5rem;
  cursor: pointer;
  margin: 1rem;
  object-fit:contain;
}
.HomeServiceContainer img{
  width: 100%;
}
.HomeServiceText{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: bold;
  background-color: rgba(219, 163, 154, 0.5);
}
.TakeMeContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.HomeLogo{
  height: 20rem;
  margin: 5rem;
  display: block;
}
.HomeLogoContainer{
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.HomeTakeText{
  font-family: "Anonymous Pro", monospace;
  font-weight: bold;
  font-size: 1.5rem;  
}
.HomeLine{
  height: .2rem;
  width: 10rem;
  background-color: black;
  display: inline-block;
}

.SocialContainer{
  display: inline-block;
  margin-top: 2rem;
  text-align: center;

}
.SocialText{
  font-family: "Anonymous Pro", monospace;
  font-size: 2rem;
  font-weight: bold;
}
.socials{
  height: 7vh;
  width: 22rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  background-color: rgba(219, 163, 154, 0.5);
}
.socials img{
  aspect-ratio: 1;
  height: 3rem;
}

/* <-------------------------------- ABOUT --------------------------------> */

.About{
  background-image: url(./my\ components/Images/ABOUTSCREEN.png) !important;
  background-size: 100% 100%;
}

.MainAboutContainer{
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 15vh;
  align-items: center;
}
.AboutPicture{
  height: 45rem;
  margin: 12rem 5rem;
  margin-right: 0;
  border: 1.2rem solid #FEFCF3;
  display: inline-block;
}
.AboutTextContainer{
  display: inline-block;
  margin-left: 2rem;
  width: 60vw;
}
.AboutTitle{
  font-family: "Crimson Text", serif;
  font-weight: 600;
  display: block;
  text-decoration: underline;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.AboutText{
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-size: 1.8rem;
}

/* <-------------------------------- GALLERY --------------------------------> */

.GalleryMainContainer{
  display: flex;
  gap: 15rem;
  padding-top: 15vh;
}
.carousel-caption h3{
  font-family: "Playfair Display", serif;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  background-color: rgba(219, 163, 154, 0.7);
  border: .1rem solid black;
  border-radius: 5rem;
  filter: drop-shadow(.1rem .1rem .1rem black);
}
.carousel-control-prev,
.carousel-control-next {
  opacity: 1 !important;
  transition: none !important;
  
}
.custom-arrow {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  color: #000000;
  background-color: #DBA39A;
  border: 0.2rem solid #000000;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  line-height: 1;
  font-family: Arial, sans-serif; 
  overflow: hidden;
}
.CarouselContainer{
  aspect-ratio: 1;
  height: 35rem;
  overflow: hidden;
  border: .1rem solid black;
  filter: drop-shadow(.2rem .2rem .5rem black);
  border-radius: 5%;
}
.GalleryImage{
  object-fit: cover;
  object-position: 25% 25%; 
  aspect-ratio: 1;
  height:35rem;
}

/* <-------------------------------- SERVICES --------------------------------> */

.MainServiceContainer{
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 15vh;
  column-gap: 20rem;
  flex-wrap: wrap;
}
.ServiceTitleContainer{
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  width: 100%;
}
.ServiceLine{
  height: .2rem;
  width: 40vw ;
  background-color: black;
  display: inline-block;
}
.Services .ServiceLine{
  width: 33vw;
}
.ServiceCard{
  aspect-ratio: 1;
  height: 30rem;
  background-color: #FEFCF3;
  border: .1rem solid black;
  border-radius: 10%;
  display: flexbox;
  align-content: center;
  justify-items: center;
  font-family: "Crimson Text", serif;
  filter: drop-shadow(.3rem .3rem .25rem rgba(0, 0, 0, 0.5));
}
.CardTitle{
  display: block;
  font-family: "Jaldi", sans-serif;
  font-size: 5rem;
  color: #DBA39A;
  -webkit-text-stroke: .02rem black;
}
.CardPrice{
  display: block;
  font-size: 4rem;
}
.CardInText{
  display: block;
  color: rgba(0, 0, 0, 0.5);
}
.CardOutText{
  margin-top: 2rem;
  display: block;
  font-size: 1.5rem
}
.CardButton{
  margin: 2rem;
  display: block;
  height: 4rem;
  aspect-ratio: 5;
  background-color: #FFD6BA;
  border: .12rem solid black;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  filter: drop-shadow(.3rem .3rem .25rem rgba(0, 0, 0, 0.5));
}
.ServiceRuppe{
  font-size: 60%;
}
.EditorialContainer{
  column-gap: 4rem;
}

/* <-------------------------------- BOOKING --------------------------------> */

.MainBookingContainer{
  margin-top: 9rem;
  height: 40rem;
  width: 80rem;
  background-color: #FEFCF3;
  border: .1rem solid black;
  filter: drop-shadow(.3rem .3rem .25rem rgba(0, 0, 0, 0.5));
  border-radius: 5rem;
  padding: 5rem 10rem;
}
.form {
  font-family: "Jaldi", sans-serif;
  font-weight: bold;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.1rem;
  font-size: 1.6rem;
}

input,
textarea,select {
  border: .1rem solid black;
  border-radius: 0 1rem 1rem 1rem;
  filter: drop-shadow(.2rem .2rem .1rem rgba(0, 0, 0, 0.5));
  padding: 0 0.5rem;
  background: #F5EBE0;
  font-size: 1.4rem !important;
  height: 3rem;
  resize: none;
}

textarea {
  height: 10rem;
}

.full-width {
  margin-bottom: 2rem;
}

.form-submit {
  display: flex;
  justify-content: center;
}

.BookingButton {
  margin: 1rem;
  display: block;
  height: 4rem;
  width: 16rem;
  background-color: #FFD6BA;
  border: .12rem solid black;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 600;
  filter: drop-shadow(.3rem .3rem .25rem rgba(0, 0, 0, 0.5));
  font-family: "Crimson Text", serif;
}

@media only screen and (max-width:1600px){
    :root{
      font-size: 90%;
    }

}
@media only screen and (max-width:1400px){
    :root{
      font-size: 80%;
    }

}
@media only screen and (max-width:1200px){
    .EditorialContainer{
        column-gap: 2rem;
    }
    .EditorialContainer .ServiceCard{
      width: 25rem;
    }
    .EditorialContainer .CardTitle{
      font-size: 4rem;
    }
    .AboutTextContainer{
      width: 50vw;
    }
    .AboutTitle{
      font-size: 2.5rem;
    }
    .AboutText{
      font-size: 1.5rem;
    }
    .AboutPicture{
      height: 46rem;
    }
    .AboutTitle{
      font-size: 2.5rem;
    }
    .AboutText{
      font-size: 1.5rem;
    }
}
@media only screen and (max-width:1100px){
  :root{
    font-size: 75%;
  }
  .AboutPicture{
    height: 50rem;
  }
}
@media only screen and (max-width:1000px){
  :root{
    font-size: 65%;
  }
  .AboutTextContainer{
    width: 45vw;
  }

  .AboutPicture{
    height: 55rem;
  }
}
@media only screen and (max-width:900px){
  .mobile-icon {
    display: block;
  }
  .NavContainer {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f9f1e8;
    padding: 1rem;
    z-index: 999;
    transition: all .5s ease-in-out;
    transform: translateX(+100%);
  }
  .NavContainer.active {
    transform: translateX(0);
    transition: all .5s ease-in-out;
  }
  .NavBarItem {
    margin: 5rem 0;
    font-size: 5rem;
  }
  .NavLogo{
    height: 10rem;
    margin-left: 2rem;
  }
  .HomeLogo{
    display: none;
  }
  .HomeLogoContainer{
    margin-top: 80rem;
    position: absolute;
  }
  .MainHomeContainer{
    padding-top: 0;
    padding-bottom: 30rem;
  }
  .HomeServiceContainer{
    height: 50rem;
    margin: 3rem;
  }
  .TakeMeContainer{
    gap: 1rem;
    margin: 5rem;
  }
  .HomeTakeText{
    font-size: 3rem;
  }
  .HomeLine{
    height: .3rem;
  }
  .SocialText{
    font-size: 3rem;
  }
  .socials{
    width: 40rem;
    height: 10rem;
    gap: 3rem;
  }
  .socials img{
    height: 6rem;
  }
  .AboutTextContainer{
    padding-top: 5rem;
    width: 40vw;
  }
  .GalleryMainContainer{
    flex-direction: column;
    gap: 5rem;
  }
  .CarouselContainer, .GalleryImage{
    height: 50rem;
  }
  .carousel-caption h3{
    font-size: 5rem;
  }
  .MainServiceContainer{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5rem;
    width: 100%;
  }
  .EditorialContainer .ServiceCard{
    width: 35rem;
  }
  .Editorial{
    height: 100vh;
  }
  .ServiceCard{
    height: 35rem;
  }
  .CardTitle{
    font-size: 6rem;
  }
  .CardPrice{
    font-size: 5rem;
  }
  .CardInText{
    font-size: 1.5rem;
  }
  .CardButton{
    height: 5rem;
  }
  .MainBookingContainer{
    height: 70rem;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-row{
    flex-direction: column;
  }
  .form-group label {
    font-size: 2rem;
  }

  input,textarea,select {
    height: 5rem;
    width: 70vw;
  }
  textarea{
    height: 15rem;
  }
  .BookingButton{
    font-size: 3em;
    height: 6rem;
    width: 30rem;
  }
  .section{
    background-image: url(./my\ components/Images/GALLERYSCREEN900.png);
    height: 120vh;
  }
  .Booking .About, .Home{
    height: 110vh;
  }
}

@media only screen and (max-width:800px){
  :root{
    font-size: 60%;
  }
}
@media only screen and (max-width:800px){
  :root{
    font-size: 60%;
  }
}
@media only screen and (max-width:700px){
  .NavLogo{
    height: 10rem;
    margin-left: 2rem;
  }
  .HomeServiceContainer{
    height: 45rem;
    margin: 1.5rem;
  }
  .HomeLogoContainer{
    margin-top: 75rem;
  }
  .HomeTakeText{
    font-size: 3rem;
  }
  .HomeLine{
    height: .2rem;
  }
  .socials{
    height: 8rem;
  }
  .About{
    height: 115vh;
  }
  .MainAboutContainer{
    flex-direction: column;
  }
  .Booking{
    height: 100vh;
  }
  .AboutPicture{
    margin: 0;
    height:35rem;
  }
  .AboutTitle{
    font-size: 4rem;
  }
  .AboutText{
    font-size: 2rem;
  }
  .AboutTextContainer{
    padding: 2rem;
    text-align: center;
    width: 90vw;
  }

}

@media only screen and (max-width:600px){
  :root{
    font-size: 60%
  }
  .HomeServiceContainer{
    height: 40rem;
    margin: 1.5rem;
  }
  .HomeLogoContainer{
    margin-top: 70rem;
  }
  .HomeTakeText{
    font-size: 2.5rem;
  }
  .HomeLine{
    height: .1rem;
  }
  .CarouselContainer, .GalleryImage{
    height: 45rem;
  }
  .carousel-caption h3{
    font-size: 4.5rem;
  }
  .Services .ServiceLine{
    width: 25vw;
  }
}

@media only screen and (max-width:500px){
  :root{
    font-size: 50%;
  }
  .HomeServiceContainer{
    height: 35rem;
    margin: 1.5rem;
  }
  .HomeLogoContainer{
    margin-top: 65rem;
  }
  .HomeTakeText{
    font-size: 2.5rem;
  }
  .HomeLine{
    height: .1rem;
  }
}
@media only screen and (max-width:350px){
  .CarouselContainer, .GalleryImage{
    height: 35rem;
  }
  .carousel-caption h3{
    font-size: 3.5rem;
  }
}
