
:root {
  --bg-color: 241, 240, 232;
  --card-color: 208, 184, 172;
  --accent-color: 150, 126, 118;
  --text-color: 75, 59, 59;
}
.section {
  min-height: 100vh;
  width: 100vw;
  display: block;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(./my\ components/Images/MainScreen.png);
  background-color: rgba(var(--bg-color),0.3);
  background-blend-mode: lighten;
  background-size: 100% 100%;
}
.LINK{
  all: unset;
}
/* <------------------------------ HEADER ------------------------------> */

.NavBar{
  position: fixed;
  z-index:9;
  top:0;
  width: 100vw;
  height: 10vh;
  background-color: rgba(var(--bg-color));
  border-bottom: .2rem solid rgba(var(--accent-color));
}
.NavContainer{
  display: flex;
  height: 9vh;
  justify-content: flex-end;
  align-items:flex-end ;
}
@keyframes shrink-header {
  to {
    height: 5.7rem; 
    border-radius: 0;
  }
}
.NavLogo{
  position: absolute;
  display: flex;
  align-items: center;
  height: 10rem;
  z-index:100;
  margin: 0 10rem;
  padding: .5rem;
  background-color: rgba(var(--bg-color));
  border-radius: 0 0 3rem 3rem;
  animation: shrink-header linear forwards; 
  animation-timeline: scroll(); 
  animation-range: 0px 100px;
}
.NavBarItem{
  all: unset;
  text-decoration: none;
  font-family: "Crimson Text", serif;
  font-weight: bold;
  font-size: 2rem;
  color: rgba(var(--text-color));
  margin: 0 4rem;
  cursor: pointer;
  position: relative;
}
.NavBarItem::after {
  content: '';
  position: absolute;
  width: 100%;
  height: .2rem;
  bottom: -.01rem;
  left: 0;
  background-color: rgba(var(--text-color));
  
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 300ms ease-in-out;
}
.NavBarItem:not(.active):hover::after {
  transform: scaleX(1);
}
.NavBarItem.active{
  -webkit-text-stroke: 0.02rem rgba(var(--text-color));
  color: rgba(var(--bg-color));
  background-color: rgba(var(--text-color));
  padding: 0 1rem;
  border-radius: 2rem;
}
.mobile-icon {
  font-size: 5rem;
  color: rgba(var(--text-color));
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 1rem;
  z-index: 9999;
  bottom: 1rem;
}


/* <-------------------------------- HOME --------------------------------> */
.MainHomeContainer{
  padding-top: 15vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomeServiceContainer{
  position: relative;
  display: inline-block;
  align-content: center;
  aspect-ratio: 0.64;
  height: 35rem;
  overflow: hidden;
  outline: .2rem solid rgba(var(--text-color));
  outline-offset: .5rem;
  cursor: pointer;
  margin: 1rem;
  object-fit:contain;
  transition: 500ms ease-in-out;
}
.HomeServiceContainer:hover{
  transform: scale(1.1);
}
.HomeServiceContainer img{
  width: 100%;
}
.HomeServiceText{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: bold;
  background-color: rgba(var(--card-color), 0.5);
  transition: 500ms ease-in-out;
}
.HomeServiceContainer:hover .HomeServiceText {
  height: 100%;
  background-color: rgba(var(--card-color), 0.8); 
}
.TakeMeContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.HomeLogo{
  height: 20rem;
  margin: 5rem;
  display: block;

}
.HomeLogoContainer{
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.HomeTakeText{
  font-family: "Anonymous Pro", monospace;
  font-weight: bold;
  font-size: 1.5rem;  
}
.HomeLine{
  height: .2rem;
  width: 10rem;
  background-color: rgba(var(--text-color));
  display: inline-block;
}
.SocialContainer{
  display: inline-block;
  margin-top: 2rem;
  text-align: center;

}
.SocialText{
  font-family: "Anonymous Pro", monospace;
  font-size: 2rem;
  font-weight: bold;
}
.socials{
  height: 5rem;
  width: 22rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  border: rgba(var(--accent-color)) .25rem solid;
  background-color: rgba(var(--text-color));
}
.socials img{
  aspect-ratio: 1;
  height: 2.7rem;
  transition: 500ms ease-in-out;
}
.socials img:hover{
  scale: 1.3;
}

/* <-------------------------------- ABOUT --------------------------------> */

.About{
  background-image: url(./my\ components/Images/AboutScreen.png);
  background-size: 100% 100%;
}

.MainAboutContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.AboutImageContainer {
  position: relative;
  display: inline-block;
  margin: 10rem 5rem; 
  margin-right: 0;
}

.AboutPicture {
  height: 45rem;
  display: block;
  border: 1.2rem solid rgba(var(--bg-color));
  transition: 500ms ease-in-out;
}

.AboutImageContainer:hover .AboutPicture {
  transform: scale(1.05);
  cursor:pointer;
}

.AboutImageContainer::before,
.AboutImageContainer::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0.3rem solid rgba(var(--text-color));
  opacity: 0;
  transition: 500ms ease-in-out;
  z-index: 5;
}

.AboutImageContainer::before {
  top: -1rem;
  right: -1rem;
  border-left: none;
  border-bottom: none;
}
.AboutImageContainer::after {
  bottom: -1rem;
  left: -1rem;
  border-top: none;
  border-right: none;
}

.AboutImageContainer:hover::before,
.AboutImageContainer:hover::after {
  opacity: 1;
  width: 15rem;
  height: 15rem;
}
.AboutTextContainer{
  display: inline-block;
  margin-left: 2rem;
  padding-right: 5%;
}
.AboutTitle{
  font-family: "Crimson Text", serif;
  font-weight: 600;
  display: block;
  text-decoration: underline;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.AboutText{
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-size: 2rem;
}

/* <-------------------------------- GALLERY --------------------------------> */

.GalleryMainContainer{
  display: flex;
  align-items: center;
  align-content: center;
  gap: 15rem;
}
.GalleryArrow{
  aspect-ratio: 1;
  height: 3rem;
}
.carousel-caption h3{
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: bold;
  background-color:rgba(var(--text-color));
  color: rgba(var(--bg-color));
  border: .1rem solid rgba(var(--accent-color));
  border-radius: 5rem;
  filter: drop-shadow(.1rem .1rem .1rem rgba(var(--text-color)));
}
.carousel-control-prev,
.carousel-control-next {
  opacity: 1 !important;
  transition: none !important;
  
}
.CarouselContainer{
  margin-top: 10rem;
  aspect-ratio: 1;
  height: 35rem;
  overflow: hidden;
  border: .1rem solid rgba(var(--text-color));
  filter: drop-shadow(.3rem .3rem .3rem rgba(0, 0, 0, 0.5));
  border-radius: 5%;
}
.GalleryImage{
  object-fit: cover;
  object-position: 25% 25%; 
  aspect-ratio: 1;
  height:35rem;
}

/* <-------------------------------- SERVICES --------------------------------> */

.MainServiceContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20rem;
  flex-wrap: wrap;
}
.ServiceTitleContainer{
  margin: 5rem;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.ServicesCardWrapper {
  display: flex;
  justify-content: center;
  gap: 20rem;          
  width: 100%;
  perspective: 1000px; 
}
.ServiceLine{
  height: .2rem;
  background-color: rgba(var(--text-color));
  display: inline-block;
  width: 50% ;
}
.ServiceCard{
  aspect-ratio: 1;
  height: 30rem;
  background-color: rgba(var(--bg-color));
  border: .1rem solid rgba(var(--text-color));
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Crimson Text", serif;
  filter: drop-shadow(.3rem .3rem .25rem rgba(0, 0, 0, 0.5));
}
.CardTitle{
  display: block;
  font-family: "Jaldi", sans-serif;
  font-size: 5rem;
  font-weight:bold;
  color: rgba(var(--text-color));
}
.CardPrice{
  display: block;
  font-size: 4rem;
}
.CardInText{
  display: block;
  color: rgba(0, 0, 0, 0.5);
}
.CardOutText{
  margin-top: 2rem;
  display: block;
  font-size: 1.5rem
}
.CardButton{
  margin: 2rem;
  font-family: "Jaldi", sans-serif;
  font-weight: bold;
  display: block;
  height: 4.5rem;
  aspect-ratio: 4;
  background-color: rgba(var(--accent-color));
  -webkit-text-stroke: .1rem rgba(var(--text-color));
  color: rgba(var(--bg-color));
  border: .25rem solid rgba(var(--text-color));
  border-radius: 2rem;
  font-size: 2.5rem;
  transition: 200ms ease-in-out;
}
.CardButton:hover{
  scale: 1.1;
}
.ServiceRuppe{
  font-size: 60%;
}
/* <-------------------------------- BOOKING --------------------------------> */

.MainBookingContainer{
  margin-top: 9rem;
  height: 40rem;
  width: 70rem;
  background-color: rgba(var(--bg-color));
  border: .1rem solid rgba(var(--text-color));
  box-shadow: 0.3rem 0.3rem 0.25rem rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
  padding: 5rem 10rem;
}
.BookingPerspectiveWrapper {
  perspective: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.form {
  font-family: "Jaldi", sans-serif;
  font-weight: bold;
}
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.form-group label {
  font-weight: bold;
  margin-bottom: 0.1rem;
  font-size: 1.6rem;
}
input,
textarea,select {
  border: .1rem solid rgba(var(--text-color));
  border-radius: 0 1rem 1rem 1rem;
  filter: drop-shadow(.2rem .2rem .1rem rgba(0, 0, 0, 0.5));
  padding: 0 0.5rem;
  background: rgba(var(--card-color));
  font-size: 1.4rem !important;
  height: 3rem;
  resize: none;
}
textarea {
  height: 10rem;
}
.full-width {
  margin-bottom: 2rem;
}
.form-submit {
  display: flex;
  justify-content: center;
}
.BookingButton {
  margin: 1rem;
  font-family: "Jaldi", sans-serif;
  font-weight: bold;
  display: block;
  height: 4.5rem;
  aspect-ratio: 6;
  background-color: rgba(var(--accent-color));
  -webkit-text-stroke: .1rem rgba(var(--text-color));
  color: rgba(var(--bg-color));
  border: .25rem solid rgba(var(--text-color));
  border-radius: 2rem;
  font-size: 3rem;
}

@media only screen and (max-width:1600px){
    :root{
      font-size: 90%;
    }

}
@media only screen and (max-width:1400px){
    :root{
      font-size: 80%;
    }

}
@media only screen and (max-width:1200px){
    .AboutPicture{
      height: 50rem;
    }
    .AboutTitle{
      font-size: 3rem;
    }
    .AboutText{
      font-size: 1.7rem;
    }
}
@media only screen and (max-width:1100px){
  :root{
    font-size: 75%;
  }
}
@media only screen and (max-width:1000px){
  :root{
    font-size: 65%;
  }
  .AboutPicture{
    height: 55rem;
  }
}
@media only screen and (max-width:900px){
  :root{
    font-size: 50%;
  }
  .section{
    background-image: url(./my\ components/Images/MainScreen900.png);
  }
  .About{
    background-image: url(./my\ components/Images/AboutScreen900.png);
  }
  .mobile-icon {
    display: block;
  }
  .NavContainer {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    background: #f9f1e8;
    z-index: 999;
    transition: all .5s ease-in-out;
    transform: translateX(+100%);
  }
  .NavContainer.active {
    transform: translateX(0);
    transition: all .5s ease-in-out;
  }
  .NavBarItem {
    font-size: 5rem;
  }
  .NavLogo{
    height: 10rem;
    margin-left: 2rem;
  }
  .HomeLogo{
    display: none;
  }
  .HomeLogoContainer{
    margin-top: 80rem;
    position: absolute;
  }
  .MainHomeContainer{
    padding-top: 0;
    padding-bottom: 20rem;
  }
  .HomeServiceContainer{
    height: 50rem;
    margin: 3rem;
  }
  .TakeMeContainer{
    gap: 1rem;
    margin: 5rem;
  }
  .HomeTakeText{
    font-size: 3rem;
  }
  .HomeLine{
    height: .3rem;
  }
  .SocialText{
    font-size: 3rem;
  }
  .socials{
    width: 40rem;
    height: 10rem;
    gap: 3rem;
  }
  .socials img{
    height: 6rem;
  }
  .MainAboutContainer{
    flex-direction: column;
  }
  .AboutPicture{
    margin:0;
    height:35rem;
  }
  .AboutTitle{
    font-size: 5rem;
  }
  .AboutText{
    font-size: 2.3rem;
  }
  .AboutTextContainer{
    padding:  0 3rem ;
    margin-top: 3rem;
    text-align: center;
  }
  .Gallery,.Services, .Bridal,.Party{
    height: 150vh;
  }
  .GalleryMainContainer{
    flex-direction: column;
    gap: 0;
  }
  .CarouselContainer, .GalleryImage{
    height: 50rem;
  }
  .carousel-caption h3{
    font-size: 5rem;
  }
  .MainServiceContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 3rem;
    padding: 2rem;
    width: 100%;
  }
  .ServicesCardWrapper {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
  .ServiceTitleContainer{
    font-size: 5rem
  }
  .ServiceCard{
    height: 50rem;
  }
  .CardTitle{
    font-size: 8.5rem;
  }
  .CardPrice{
    font-size: 7rem;
  }
  .CardInText{
    font-size: 2rem;
  }
  .CardOutText{
    font-size: 2.5rem;
  }
  .CardButton{
    height: 7rem;
    font-size: 3.5rem;
  }
  .MainBookingContainer{
    margin-bottom: 10rem;
    height: 65rem;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-row{
    flex-direction: column;
  }
  .form-group label {
    font-size: 2rem;
  }
  input,textarea,select {
    height: 4rem;
    width: 70vw;
  }
  textarea{
    height: 15rem;
  }
  .BookingButton{
    font-size: 3em;
    height: 6rem;
    width: 30rem;
  }
}
@media only screen and (max-width:700px){
  .NavLogo{
    height: 10rem;
    margin-left: 2rem;
  }
  .HomeServiceContainer{
    height: 45rem;
    margin: 1.5rem;
  }
  .HomeLogoContainer{
    margin-top: 75rem;
  }
  .HomeTakeText{
    font-size: 3rem;
  }
  .HomeLine{
    height: .2rem;
  }
  .socials{
    height: 8rem;
  }
}
@media only screen and (max-width:600px){
  :root{
    font-size: 60%
  }
  .HomeServiceContainer{
    height: 40rem;
    margin: 1.5rem;
  }
  .HomeLogoContainer{
    margin-top: 70rem;
  }
  .HomeTakeText{
    font-size: 2.5rem;
  }
  .HomeLine{
    height: .1rem;
  }
  .AboutTitle{
    font-size: 4rem;
  }
  .AboutText{
    font-size: 2rem;
  }
  .CarouselContainer, .GalleryImage,.ServiceCard{
    height: 45rem;
  }
  .carousel-caption h3{
    font-size: 4.5rem;
  }
  .MainBookingContainer{
    height: 55rem;
    width: 90vw;
  }
  input,textarea,select {
    height: 3rem;
  }
  textarea {
    height: 8rem;
  }
  .BookingButton{
    height: 5rem;
  }
}
@media only screen and (max-width:550px){
  .HomeServiceContainer{
    height: 35rem;
  }
}
@media only screen and (max-width:500px){
  :root{
    font-size: 50%;
  }
  .HomeServiceContainer{
    height: 35rem;
    margin: 1.5rem;
  }
  .HomeLogoContainer{
    margin-top: 65rem;
  }
  .HomeTakeText{
    font-size: 2.5rem;
  }
  .HomeLine{
    height: .1rem;
  }
  .MainBookingContainer{
    height: 65rem;
    width: 90vw;
  }
  input,textarea,select {
    height: 5rem;
  }
  textarea{
    height: 10rem;
  }
}
@media only screen and (max-width:400px){
  :root{
    font-size: 40%;
  }
  .MainBookingContainer{
    height: 80rem;
    width: 90vw;
  }
  input,textarea,select {
    height: 6rem;
  }
  textarea{
    height: 18rem;
  }
}
@media only screen and (max-width:350px){
  :root{
    font-size: 38%;
  }
  .carousel-caption h3{
    font-size: 3.5rem;
  }
  
}
@media only screen and (max-width:320px){
  :root{
    font-size: 30%;
  }
  .MainBookingContainer{
    height: 100rem;
    width: 90vw;
  }
  input,textarea,select {
    height: 6rem;
  }
  textarea{
    height: 30rem;
  }
}
@media only screen and (max-width:200px){
  :root{
    font-size: 20%;
  }
}
